{% extends 'base.html' %}

{% block title %} Products {% endblock %}

{% block body_block %}

        <!--
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Catalog</a></li>
          <li class="active">Main Category</li>
        </ol>
        -->

        <div class="container">

            <div class="col-md-3" style="margin-top: 40px;">

                <div class="panel-body" id="clear-all"></div>

                

                <div class="panel panel-default">
                  <div class="panel-heading"><i class="glyphicon glyphicon-tag"></i> Category</div>
                  <div class="panel-body" id="category"></div>
                </div>

                

            </div>

            <div class="col-md-9 pull-right" style="margin-top: 40px;">
                <br>
                <div class="row" id="hits"></div>
                <div class="row text-center next-bottom ">
                <div class="pagination"></div>
                </div>
            </div>
        </div>
       
{% endblock %}