{% extends "base.html" %}

{% block title %}Confirmation Error{% endblock %}

{% block body_block %}
    
<div class="container">
    
    <div class="row" style="margin-top:20px">
	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <hr class="colorgraph">
            <p>Hubo un error por favor intentalo otra vez.</p>
            <small>Si el problema persiste por favor mandanos un correo a: <a href="mailto:ventas@cmcmexico.com">ventas@cmcmexico.com</a> </small>
            <hr class="colorgraph">
        </div>
    </div>
</div>

{% endblock %}