{% load staticfiles %}
<script type="text/javascript">
    window.dataLayer = window.dataLayer || [];

    window.dataLayer.push({'pageType':'{{pageType}}'});

    window.dataLayer.push({'distrType':'{{distrType}}'});

    window.CSRF_TOKEN = "{{ csrf_token }}";

    {% if request.META.HTTP_HOST != 'localhost:8000'%}
    var CKEDITOR_BASEPATH = "{% static "js/ckeditor" %}{% if IS_AMAZON %}/{% endif %}"
    {% endif %}
    {% if 'Catalog Page' in pageType %}

    var ALGOLIA_APPLICATION_ID = '{{ ALGOLIA_APPLICATION_ID }}';
    var ALGOLIA_SEARCH_KEY = '{{ ALGOLIA_SEARCH_KEY }}';
    var ALGOLIA_INDEX = '{{ ALGOLIA_INDEX }}' + '_Product';

    var OOO_BADGE = '{% static 'images/out-of-stock-badge.png' %}'
    var AUCTION_BADGE = '{% static 'images/auction.png' %}'
    var MEXE_DESIGN_BADGE = '{% static 'images/mexe_design.png' %}'
    var UNIQUE_DESIGN_BADGE = '{% static 'images/unique.png' %}'

    var MORE_SOON = '{% static 'images/default_product.jpg' %}'

    {% endif %}

</script>