{% extends "base.html" %}

{% block title %}Exito al Restablecer Contraseña{% endblock %}

{% block body_block %}
    
<div class="container">
    
    <div class="row" style="margin-top:20px">
	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 text-center">
            
            <h3>Tú contraseña ha sido cambiada exitosamente</h3>
            <a href="{{ login_url }}" class="btn btn-lg btn-info btn-block">Iniciar Sesión</a>
            
        </div>
    </div>
</div>    


{% endblock %}