{% extends "base.html" %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block body_block %}

<div class="container">
    
    <div class="row" style="margin-top:20px">
	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		    <form role="form" method="post" id="password-form" class="login-form">
			{% if error_msg%}
			    <div class="alert alert-danger" role="alert">{{error_msg}}</div>
			{% endif %}
			{% csrf_token %}
			
			    <fieldset class="text-center">
				    <h2>Restablecer Contraseña</h2>

					<p>Para poder restablecer tu contraseña, ingresa tu correo electronico.</p>
				    <div class="form-group has-feedback">
                        {{ form.email }}
                        <label class="form-control-feedback fui-mail" for="email"></label>
				    </div>
					
				    <hr class="colorgraph hr-send">

				    <div class="row send-row">
					    <div class="col-xs-6 col-sm-6 col-md-6 send-div">
						<input type="submit" class="btn btn-lg btn-info btn-block" value="Enviar">
					    </div>
				    </div>

				    <div class="row" style="padding-bottom: 20px;"></div>
				    
			    </fieldset>
		    </form>
	    </div>
    </div>

</div>


{% endblock %}