{% extends "base.html" %}
{% block title %}Restablecer Contraseña{% endblock %}

{% block body_block %}
    
<div class="container">
    
    <div class="row" style="margin-top:20px">
	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 text-center">
           
    
            {% if validlink %}
                <h3>Restablecer Contraseña</h3>
                
                <form role="form" action="" method="post" id="password-submit-form" class="login-form">
			{% if error_msg%}
			    <div class="alert alert-danger" role="alert">{{error_msg}}</div>
			{% endif %}
			{% csrf_token %}
			
			
			    <fieldset>
				    <div class="form-group has-feedback">
					{{ form.new_password1 }}
                                        <label class="form-control-feedback fui-lock lock1" for="id_new_password1"></label>
				    </div>
				    
                                    <div class="form-group has-feedback">
                                        {{ form.new_password2 }}
                                        <label class="form-control-feedback fui-lock lock2" for="id_new_password2"></label>
                                    </div>
                                    
                                    
					
				    <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3"></div>
					    <div class="col-xs-6 col-sm-6 col-md-6">
						<input type="submit" class="btn btn-lg btn-info btn-block" value="Restablecer Contraseña">
					    </div>
				    </div>
			    </fieldset>
		</form>
                
            {% else %}
                
                <h3>Restablecimiento de contrase&ntilde;a sin &eacute;xito</h3>
                <p>El enlace de restablecimiento de contrase&ntilde;a no es v&aacute;lido, <br />posiblemente debido a que ya se ha utilizado. <br />Por favor, solicite un nuevo restablecimiento de contrase&ntilde;a, haciendo click <a href="{% url 'password_reset' %}">aqu&iacute;</a>. </p>
            {% endif %}
            
    
        </div>
    </div>
</div>


    
{% endblock %}